<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function timer() {
        setInterval(function () { ajaxcall() }, 10000);
    }
    function ajaxcall() {
        $.ajax({
            url: "http://127.0.0.1:5000/submit",
            type: "POST",
            data: "content=1&author=1",
            success: setTimeout(function () {
                location = 'http://127.0.0.1:5000/'
            }, 3000)
        });
    }

    function condition() {
        for (i = 1; i < document.getElementsByTagName("tr").length; i++) {
            if (document.getElementsByTagName("tr")[i].cells[2].innerHTML == "Catastrophic ") {
                document.getElementsByTagName("tr")[i].style.backgroundColor = "orangered"
            }
            else if (document.getElementsByTagName("tr")[i].cells[2].innerHTML == "Major Leakage") { document.getElementsByTagName("tr")[i].style.backgroundColor = "darkorange" }
            else if (document.getElementsByTagName("tr")[i].cells[2].innerHTML == "Minor Leakage") { document.getElementsByTagName("tr")[i].style.backgroundColor = "lightcoral" }
            else { document.getElementsByTagName("tr")[i].style.backgroundColor = "lightgreen" }
        }
    }
</script>
<center>


    <a href="{{node_address}}/mine" target="_blank"><button style="background-color:#ffd800">Request to mine</button></a>
    <a href="/"><button style="background-color:#ffd800">Resync</button></a>

    <div style="padding: 10px 5px;">
        <button style="background-color: orangered">Determines the leakage level is dangerous</button>
        <button style="background-color: darkorange">Determines the leakage is considerable</button>
        <button style="background-color: lightcoral">Determines the leakage is minimal</button>
        <button style="background-color: lightgreen">Determines the normal flow in the pipeline</button>
    </div>
</center>

<br>



<table>

    <tr>
        <th>Block ID</th>
        <th>Leakage Location</th>

        <th >Leakage Severity</th>
        <th>Timestamp</th>

    </tr>
    {% for post in posts %}



    <tr>
        <td class="test"></td>
        <td>{{post.content}}</td>

        <td>{{post.author}}</td>
        <td>{{post.timestamp}}</td>

    </tr>



    {% endfor %}
</table>

<style>
    .selected {
        background-color: green;
    }

    .bad {
        background-color: red;
    }

    * {
        font-family: Helvetica Neue, Arial, sans-serif;
    }

    body {
        background-image: linear-gradient(#aaa 25%, #000);
    }

    h1, table {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 70%;
        margin: 0 auto 5rem;
    }

    th, td {
        padding: 1.5rem;
        font-size: 1.3rem;
    }

    tr {
        background: hsl(50, 50%, 80%);
    }

    tr, td {
        transition: .4s ease-in;
    }

        tr:first-child {
            background: hsla(12, 100%, 40%, 0.5);
        }

        tr:nth-child(even) {
            background: hsla(50, 50%, 80%, 0.7);
        }

        td:empty {
            background: hsla(50, 25%, 60%, 0.7);
        }



    body {
        /* Set "my-sec-counter" to 0 */
        counter-reset: my-sec-counter;
        background-image: url("https://d27p8o2qkwv41j.cloudfront.net/wp-content/uploads/2016/03/dreamstime_m_48008311-e1458641725575.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }


    .test::before {
        /* Increment "my-sec-counter" by 1 */
        counter-increment: my-sec-counter;
        content: "Block " counter(my-sec-counter) ". ";
    }
</style>
{% endblock %}
